/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-width: 250px;
    font-family: Arial;
    font-size: 17px;
    font-weight: bold;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: rgb(83, 83, 83);
}

.content {
    margin-top: 20px;
    margin-bottom: 30px;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #f1f1f1;
    width: 85%;
    height: 93%;
    padding: 20px;
    border-radius: 20px;
    overflow: auto;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Remove margins and padding from the list */
ul {
    margin: 0;
    padding: 0;
}

/* Style the list items */
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul li {
    border-radius: 10px;
    margin-top: 6px;
    background: white;
    color: #f47236;
    border: white 3px solid;
}

/* Darker background-color on hover */
ul li:hover {
    background: #f47236;
    border-color: #f47236;
    color: white;
    filter: drop-shadow(0 0 0.75rem #f47236);
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
    background: #34b445;
    color: #ffffff;
    text-decoration: line-through;
    border-color: #34b445;
}

ul li.checked:hover {
    filter: drop-shadow(0 0 0.75rem #34b445);
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
    content: "";
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

/* Style the close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    margin: 0;
    font-weight: bold;
    transform: scale(2);
}

#myInput {
    font-weight: bold;
    font-size: 2em;
}

#myInput:hover,
#myInput:focus {
    font-weight: bold;
    color: #f47236;
    filter: drop-shadow(0 0 0.75rem #f47236);
}

/* Style the header */
.header {
    background-color: black;
    padding: 30px 40px;
    color: white;
    text-align: center;
    border-radius: 10px;
}

/* Clear floats after the header */
.header:after {
    content: "";
    display: table;
    clear: both;
}

#title {
    font-size: 5rem;
    font-weight: bold;
}



/* Style the input */
input {
    margin: 0;
    border: none;
    border-radius: 10px;
    width: 75%;
    height: 50px;
    padding: 10px;
    float: left;
    font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
    height: 52px;
    margin-left: 5px;
    padding: 10px;
    width: 20%;
    background: #616161;
    color: #ffffff;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
}

.addBtn:hover,
.addBtn:focus {
    background-color: #f47236;
    filter: drop-shadow(0 0 0.75rem #f47236);
}

video {
    pointer-events: none;
}

video::-webkit-media-controls {
    display: none;
}